<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start" (click)="return();">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons >
      <ion-label position="floating">Calificación</ion-label>
      <ion-input  class="inp"  [value]="usuario" [readonly]="isReadonly()">
         </ion-input>
        </ion-item>      
        <ion-input class="input" type="text" [(ngModel)]="registrarPunteo.calificacion" name="calificacion">
          <ion-input class="input" type="text" [(ngModel)]="registrarPunteo.usuario" name="usuario">
          </ion-input></ion-input>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  

  <ion-title>CALIFICACIÓN</ion-title>
  <form (ngSubmit)="register();" id="registroPunteo">
  <div class="ec-stars-wrapper">
    <a  (click)="punteo(1);" (click)="changeView(1);" >&#9733;<div class="num">1</div></a>
    <a  (click)="punteo(2);" (click)="changeView(1);" >&#9733;<div class="num">2</div></a>
    <a  (click)="punteo(3);" (click)="changeView(2);" >&#9733;<div class="num">3</div></a>
    <a  (click)="punteo(4);" (click)="changeView(2);">&#9733;<div class="num">4</div></a>
    <a  (click)="punteo(5);" (click)="changeView(3);">&#9733;<div class="num">5</div></a>
    <a  (click)="punteo(6);" (click)="changeView(3);">&#9733;<div class="num">6</div></a>
    <a  (click)="punteo(7);" (click)="changeView(4);">&#9733;<div class="num">7</div></a>
    <a  (click)="punteo(8);" (click)="changeView(4);">&#9733;<div class="num">8</div></a>
    <a  (click)="punteo(9);" (click)="changeView(5);">&#9733;<div class="num">9</div></a>
    <a  (click)="punteo(10);" (click)="changeView(5);">&#9733;<div class="num">10</div></a>
  </div>
  <div class="imagen">
    <ion-img class="map" [src]="picToView"></ion-img>
      </div>
      <ion-button type="submit" expand="block" padding color="tertiary" fill="outline" >Enviar Calificación</ion-button>
    </form>
</ion-content>
