<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="return();">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar class="searchbar" (keyup.enter)="realizarBusqueda();"  [(ngModel)]="vehiculo.buscarplaca" (click)="realizarBusqueda();" placeholder="buscar por Placa">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

     Datos del vehiculo
     <ion-input class="hora" type="text" [(ngModel)]="identificadores.hora" name="hora"></ion-input>
    <ion-item>
    <ion-label position="floating">Placa</ion-label>
    <ion-input type="text" [(ngModel)]="vehiculo.placa" name="placa"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Color</ion-label>
    <ion-input type="text" [(ngModel)]="vehiculo.color" name="color"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input type="text" [(ngModel)]="vehiculo.marca" name="marca"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Nomero de Autorización</ion-label>
    <ion-input type="text" [(ngModel)]="vehiculo.autorizacion" name="autorizacion"></ion-input>
  </ion-item>

  <ion-item-divider class="titulo" color="secondary">
    <ion-label>
     Datos del Taxista
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="taxista.nombre" name="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="taxista.apellido" name="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tipo de Licencia</ion-label>
    <ion-input type="text" [(ngModel)]="taxista.licencia" name="tipolicencia"></ion-input>
  </ion-item>
  <ion-button expand="block" padding color="black" type="Submit" fill="outline" >Empezar Viaje</ion-button>


</ion-content>
