<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content >
  <form (ngSubmit)="crear();" id="register">
  <div class="content">
  <ion-item>
    <ion-img style="margin-left: 32%;" src="./assets/imagenes/login.png"></ion-img>

    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="login.usuario" name="usuario"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="login.contrasenia" name="contrasenia" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Confirmar contraseña</ion-label>
    <ion-input [(ngModel)]="contra" name="contrasenia" ></ion-input>
  </ion-item>
 
  
  <ion-button type="submit" expand="block" padding color="tertiary" fill="outline" >Siguente</ion-button>
</div>
</form>
</ion-content>
