.campo{
    left: 20px;
    right: 20px;
    top: 1%;
    padding: 1px;
    width: 320px;
}

.label{
font-size:20px;

}
.input{
    width:10px;
    height: 5px;

    }
    .btn{
        
        background-color: var(--ion-color-mycolor);
        color:white;
        padding: 20px 30px 20px 30px;
        border-radius: 10px;
        font-size: 20px;
    }
    #container{
        text-align: center;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 88%;
        transform: translateY(-50%);
    }
    #registrar{
        text-align: center;
    }
    ion-toolbar{
        background-color: var(--ion-color-mycolor);
    }
    .sesion{
        margin-top: 130%;
    margin-left: 45%;    
  margin-bottom: 10px;
    }
    .menu{
        margin-top: 40px;
    margin-left: 5%;    
    }
   