.campo{
    left: 20px;
    right: 20px;
    top: 1%;
    padding: 1px;
    width: 320px;
}

.label{
font-size:20px;

}
.input{
    width:10px;
    height: 5px;

    }
    .btn{
        
        background-color: var(--ion-color-mycolor);
        color:white;
        padding: 20px 30px 20px 30px;
        border-radius: 10px;
        font-size: 20px;
    }
    #container{
        text-align: center;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 88%;
        transform: translateY(-50%);
    }
    #registrar{
        text-align: center;
    }
    ion-toolbar{
        background-color: var(--ion-color-mycolor);
    }
.inp{
width:50px;
}
/* DOES NOT WORK - not specific enough */
ion-loading {
    color: green;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class {
    color: green;
  }
  .my-custom-class {
    --background: rgb(185, 253, 255);
    --spinner-color: #fff;
    color: #fff;
  }