<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button (click)="user()" value="all">
          Usuario
        </ion-segment-button>
        <ion-segment-button (click)="taxista()" value="favorites">
         Taxista
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register();" id="register_taxista">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input  class="inp"  [(ngModel)]="registro_taxista.login1" name="login">
      <ion-input class="inp"  [(ngModel)]="registro_taxista.datos_personales1" name="iddatos"></ion-input>
      </ion-input>

    </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="usuario_taxista.nombre" name="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-textarea type="text" [(ngModel)]="usuario_taxista.apellido" name="apellido"></ion-textarea>
  </ion-item> 
  <ion-item>
    <ion-label position="floating">Edad</ion-label>
    <ion-input type="number" [(ngModel)]="usuario_taxista.edad" name="edad"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input  type="number" [(ngModel)]="usuario_taxista.telefono" name="telefono"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input type="text" [(ngModel)]="registro_taxista.direccion" name="direccion"></ion-input>
  </ion-item>
  
  <ion-item class="campo">
    <ion-label color="primary" >Tipo de Licencia</ion-label>
    <ion-select placeholder="Seleccione" [(ngModel)]="registro_taxista.tipo_licencia" name="tipoLicencia">
      <ion-select-option value="A">A</ion-select-option>
      <ion-select-option value="B">B</ion-select-option>
    </ion-select>
  </ion-item>
  


  <ion-button expand="block" padding color="tertiary" type="submit" fill="outline" >Siguente</ion-button>

</form>


</ion-content>
