/* DOES NOT WORK - not specific enough */
.popover-content {
    background: #222;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .popover-content {
    background: #222;
  }
  .my-custom-class {
    --background: #222;
  }
 .titulo{
      font-size: 50px;
      color: rgb(31, 255, 255);
      font-weight: bold;
      margin-left: 0%;
      position:absolute;
  } 
  .contenedor{
    margin-top: 50px;
    margin-left: 20%;

  }
  .boton{
      margin-left: 67%;
  }
  ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  
  .btn{
    background-color: var(--ion-color-mycolor);
    color:white;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
  }
  .campo{
    left: 20px;
    right: 20px;
    top: 1%;
    padding: 10px;
    width: 320px;
  }ion-toolbar{
    background-color: var(--ion-color-mycolor);
  }
  .btn{
    background-color: var(--ion-color-mycolor);
    color:white;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
  }
  #container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
  }
  #top{
    margin-top: 40%;
  }
  .content{
    margin-top: 20%;
  }
  .imagen{
    margin-top: 30%;
    margin-bottom: 10;
  }
  .texto{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: serif;
  }
  .texto1{
    margin-left: 2%;
    margin-top: 10%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: serif;
  }
  .texto2{
    margin-left: 10%;
    margin-top: 20%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: serif;
  }