<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content> 
  <form (ngSubmit)="register();" id="register">

    <ion-item>
      <ion-label position="floating"></ion-label>
        <ion-input type="number" class="inp"  [(ngModel)]="vehiculo.operador_del_taxi" name="datos_personales"></ion-input>
     </ion-item>

          
<ion-item>
  <ion-label position="floating">Numero Placa</ion-label>
  <ion-input type="text" [(ngModel)]="vehiculo.numeroplaca" name="numeroplaca"></ion-input>
</ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input type="text" [(ngModel)]="vehiculo.color" name="color"></ion-input>
    </ion-item>
    
    <ion-item>
  <ion-label position="floating">Marca</ion-label>
  <ion-input type="text" [(ngModel)]="vehiculo.marca" name="marca"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Numero de Autorización</ion-label>
  <ion-textarea type="text" [(ngModel)]="vehiculo.numero_autorizacion" name="numero_autorizacion"></ion-textarea>
</ion-item> 

<ion-item>
  <ion-label position="floating">Tipo de Vehiculo</ion-label>
  <ion-input type="text" [(ngModel)]="vehiculo.tipo_vehiculo" name="tipo_vehiculo"></ion-input>
</ion-item>


<ion-button type="submit" expand="block" padding color="tertiary" fill="outline" >Finalizar Registro</ion-button>


</form>

</ion-content>
